body {
    font-family: 'Roboto', sans-serif;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
}

.container {
    max-width: 800px;
    min-height: 402px;
    background: url(../images/bg-repeat.jpg);
    background-repeat: repeat;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.75rem;

    padding: 0.75rem 3.125rem;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 11px;

}

.texto h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: var(--tamanho-fonte-grande);
}

.texto p {
    color: #ffffff;
    font-weight: 400;
    font-size: var(--tamanho-fonte-padrao);
}

.formulario {
    height: 378px;
    width: 340px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.25rem;
    background-color: #ffffff;
}


.campo {
    resize: none;
    height: 35px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    
    padding: 0 16px;
    font-size: var(--tamanho-fonte-padrao);
    font-weight: 400;
    color: #000000;
    background: #ffffff;
}

.form-section textarea {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 0.75rem 1rem;
    font-family: 'Roboto', sans-serif;
}

.campo::placeholder {
    color: var(--cor-placeholder);
    font-size: var(--tamanho-fonte-padrao);
    font-weight: 700;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
}

.campos-obrigatorios {
    font-weight: 400;
    font-size: var(--tamanho-fonte-padrao);
    margin-bottom: 10px;
}

#btn {
    height: 41px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-botao);
    color: #ffffff;
    font-weight: 700;
    font-size: var(--tamanho-fonte-padrao);
    cursor: pointer;
}

.vazio {
    border: 1px solid var(--cor-erro);
}

.valido {
    border: 1px solid var(--cor-valido);
}

.mensagem-erro {
    color: var(--cor-erro);
    font-size: var(--tamanho-fonte-erro);
    font-weight: 400;
    margin-bottom: 6px;
    display: none;
}

.mostrar-erro {
    display: block;
}


/* --- REPONSIVO --- */

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        max-width: 90%;
        gap: 1.5rem;
    }

    .texto h1 {
        font-size: 2rem;
        text-align: center;
    }

    .texto p {
        font-size: 0.9rem;
        text-align: center;
    }

    .formulario {
        width: 100%;
        max-width: 340px;
    }
}
